.profile-page-container {
  width: 90%;
  margin: auto;
}

.profile-page-container > h3 {
  margin-top: 5vh;
}

.user-info-container {
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
  height: auto;
  padding: 2%;
  margin: 2% 0 3% 0;
}

.user-info-container > ul {
  height: 3vh;
}

label {
  font-size: 100%;
  font-weight: 600;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li > button, li > form > button {
  width: auto;
  margin: 0 1%;
}

li > span {
  padding: 0 5%;
  width: 50%;
}

li> form > input {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 5px;
}

li > form {
  display: flex;
  flex-direction: row;
  height: 100%;
}