/* events */
.events-container {
  width: 65%;
  height: auto;
  min-height: 50vh;
  background-color: #FFDE07;
  margin: 0.5% auto;
  border-radius: 10px;
}

.events-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-card {
  background-color: #fffff2;
  width: 95%;
  margin: 1% auto;
}

.event-title-container {
  
}

.event-title {
  /* margin: 5% 5% 1% 5%; */
  padding: 1%;
  margin: 0;
}

.event-time-container {
  display: flex;
  flex-direction: row;
}

.event-time {
  padding: 1%;
  font-size: 75%;
  color: #808080;
  /* width: 100%; */
  text-align: center;
  /* margin: auto; */
}

.event-description {
  text-indent: 1em;
  font-size: 75%;
  height: auto;
  padding: 2% 5%;
}

.attendees-container {
  min-width: 50%;
  font-size: 50%;
  width: 90%;
  height: auto;
  margin: 0 auto 5% auto;
  /* border: 0.5px silver solid; */
  border-radius: 10px;
}

.attendee-card {
  /* padding: 2% 0 2% 5%;
  margin: 1%;
  font-size: 75%; */
  padding: 2%;
  font-size: 75%;
  color: #808080;
  margin: auto;
}