/* events */
.events-container {
  width: 65%;
  height: auto;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #FFDE07;
  margin: 0.5% auto;
  border-radius: 10px;
}

.events-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-cards-container {
  display: flex;
  flex-direction: column;
}

.event-card {
  background-color: #fffff2;
  width: 95%;
  margin: 1% auto;
}

.event-card-top {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.event-title-container {
  width: 50%;
}

.event-title {
  /* margin: 5% 5% 1% 5%; */
  margin: 0;
}

.event-time-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.event-time, .event-time-to {
  padding: 0 1%;
  font-size: 75%;
  color: #808080;
  text-align: center;
  margin: 0;
  max-height: 2vh;
}
.event-time-to {
  color: inherit;
}

.event-description {
  text-indent: 1em;
  font-size: 75%;
  height: auto;
  padding: 0 5%;
}

.event-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attendees-container, .owner-container {
  min-width: 50%;
  font-size: 50%;
  width: 90%;
  height: auto;
  border-radius: 10px;
  display: flex;
}

.attendee-card {
  padding: 2%;
  font-size: 75%;
  color: #808080;
  margin: auto;
}

.collapse-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1%;
}


/* add event form */
.add-event-form-container {
  background-color: #fffff2;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.add-event-form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-event-form-left {
  display: flex;
  flex-direction: column;

}

.add-event-form-right {
  display: flex;
  flex-direction: column;
}

.add-event-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input, textarea {
  border: 1px solid silver;
  border-radius: 5px;
  /* width: 100%; */
}

h5 {
  padding: 1%;
  margin: auto;
}

span {
  margin: auto;
}
