/* events */
.events-container {
  width: 65%;
  height: auto;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #FFDE07;
  margin: 0.5% auto;
  border-radius: 10px;
}

.events-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-cards-container {
  display: flex;
  flex-direction: column;
}

.event-card {
  background-color: #fffff2;
  width: 95%;
  margin: 1% auto;
}

.event-title-container {
  width: 50%;
}

.event-title {
  /* margin: 5% 5% 1% 5%; */
  /* padding: 1%; */
  margin: 0;
}

.event-time-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.event-time {
  padding: 0 1%;
  font-size: 75%;
  color: #808080;
  /* width: 100%; */
  text-align: center;
  margin: 0;
}

.event-description {
  text-indent: 1em;
  font-size: 75%;
  height: auto;
  padding: 2% 5%;
}

.attendees-container {
  min-width: 50%;
  font-size: 50%;
  width: 90%;
  height: auto;
  margin: 0 auto 2% auto;
  /* border: 0.5px silver solid; */
  border-radius: 10px;
}

.attendee-card {
  /* padding: 2% 0 2% 5%;
  margin: 1%;
  font-size: 75%; */
  padding: 2%;
  font-size: 75%;
  color: #808080;
  margin: auto;
}


.add-event-form-container {
  background-color: #fffff2;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.add-event-form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-event-form-left {
  display: flex;
  flex-direction: column;

}

.add-event-form-right {
  display: flex;
  flex-direction: column;
}

.add-event-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input, textarea {
  border: 1px solid silver;
  border-radius: 5px;
  /* width: 100%; */
}

h5 {
  padding: 1%;
  margin: auto;
}
