.header {
  background-color: #FFDE07;
  height: 12vh;
  width: 100%;
  margin-bottom: 1%;
}

.logo-container {
  margin: auto;
}

.logo {
  height: 12vh;
  margin: 1vh 1vw;
}

.header-title-container {
  /* margin-left: 2vw; */
  margin: auto;
  text-align: center;
}

.title {
  margin: auto;
}