.home-page-container {
  width: 75%;
  margin: auto;
  background-color: #fffff2;
  display: flex;
  flex-direction: row;
}

span {
  font-size: 80%;
  padding: 1%;
}

.user-messages-container {
  background-color: #FFDE07;
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 1%;
  margin: 2% 1% 2% 0;
  display: flex;
  flex-direction: column;
}

.user-messages-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-messages-top-left > h4, .user-messages-top-right > h4 {
  margin: 2vh 2vw;
}

.user-messages-top-right > h4 {
  cursor: pointer;
}

.user-messages-top-left {
  display: flex;
  flex-direction: row;
}

.user-messages-top-right {
  display: flex;
  flex-direction: row;
}

.user-message-card {
  background-color: #fffff2;
  width: 100%;
  height: auto;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.user-message-card-top {
  display: flex;
  flex-direction: row;
  height: auto;
}

.user-message-card-top-left {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1%;
}

.user-message-card-title > h5 {
  margin: 2%;
}

.user-message-card-content > p {
  margin: auto;
  padding: 1%;
  font-size: 80%;
  text-indent: 1%;
}

.user-message-card-top-right {
  width: 10%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.user-message-card-top-right p {
  margin: auto;
  font-size: 50%;
}

.user-image-container {
  width: auto;
  height: auto;
  margin: auto;
}

.user-image-container > img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  transform:scale(0.75);
}

.user-message-card-bottom {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5%;
}

.user-message-card-bottom-left {
  display:flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.user-message-card-bottom-left p {
  font-size: 60%;
  /* margin: 1% 2%; */
}

.user-message-card-bottom-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.user-message-card-bottom-right > button {
  margin: auto;
  height: auto;
  width: 15%;
}


.invitations-container {
  background-color: #FFDE07;
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
  width: 30%;
  height: auto;
  padding: 1%;
  margin: 2% 0 2% 1%;
  display: flex;
  flex-direction: column;
}

.invitations-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invitations-top-left {
  display: flex;
  flex-direction: row;
}

.invitations-top-right {
  display: flex;
  flex-direction: row;
}

.invitation-card {
  background-color: #fffff2;
  width: 100%;
  height: auto;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.invitation-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

h6 {
  margin: auto;
}

.invitation-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invitation-card-bottom-left, .invitation-card-bottom-right {
  margin: auto;
}

.invitation-card-middle p {
  font-size: 75%;
  padding: 1% 5%;
}

.invitation-card-bottom button {
  width: auto;
}








