body {
  background-color: #FFDE07;
}

.login-container {
  background-image: url(https://i.imgur.com/z0gkiOz.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fffff2;
  width: 90%;
  height: 90vh;
  border: 0.5px solid #e3e29d;
  border-radius: 10px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-container {
  margin: 0 auto;
  text-align: center;
}

.login-form-container {
  background-color: #fffff2;
  width: 25%;
  height: auto;
  margin: auto;
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.login-form-container > h3 {
  margin: 5% auto;
}

.login-form {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

button {
  width: 25%;
  height: 3vh;
  margin: 5% auto;
  background-color: #FFDE07;
  border-radius: 10px;
  border: none;
}

.login-input {
  width: 50%;
  height: 2vh;
  margin: 2% auto;
  border: 0.5px solid #d3d3d3;
  border-radius: 2px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.signup-container > h4 {
  margin: auto;
  text-align: center;
}
