body {
  background-color: #FFDE07;
}

.signup-container {
  background-image: url(https://i.imgur.com/z0gkiOz.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fffff2;
  width: 50%;
  height: 80vh;
  border: 0.5px solid #e3e29d;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title-container {
  margin: 0 auto;
  text-align: center;
}

.signup-form-container {
  background-color: #fffff2;
  width: 50%;
  height: auto;
  margin: auto;
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.signup-form-container > h3 {
  margin: 5% auto 2% auto;
}

.signup-form {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

button {
  width: 25%;
  height: 3vh;
  margin: 5% auto;
  background-color: #FFDE07;
  border-radius: 10px;
  border: none;
}

label {
  font-size: 75%;
  padding: 1%;
}

.signup-input {
  width: 75%;
  height: 3vh;
  margin: 2% auto;
  border: 0.5px solid #d3d3d3;
  border-radius: 2px;
  padding-left: 5px;
}

.signup-button-container {
  display: flex;
  flex-direction: row;
  padding: 5%;
}

