
.header {
  display: flex;
  flex-direction: row;
  /* background-color: #FF5454; */
  background-color: #FFDE07;
  height: 12vh;
  width: 100vw;
}

.logo-container {

}

.logo {
  height: 12vh;
  margin: 1vh 1vw;
}

.title-container {
  margin-left: 2vw;
  text-align: left;
}

.title {

}


.main-content {
  height: 100vh;
}

.events-container {
  width: 90%;
  height: 90vh;
  border: 0.5px solid #e3e29d;
  margin: 5vh auto;
  border-radius: 10px;
}

.events-header {
  margin: 1vw 2vh;
}

.event-cards-container {
  width: 95%;
  height: 90%;
  margin: 1vh auto 5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-card {
  width: 25%;
  height: 95%;
  border: 0.5px lightgrey solid;
  border-radius: 10px;
  margin: 1vw 1vh;
}

.event-title {
  margin: 5% 5% 1% 5%;
}

.event-time-container {
  margin: 1% 5% 5% 5%;
}

.event-time {
  padding: 5%;
  font-size: 75%;
  color: #808080
}






footer {
  /* background-color: #FF5454; */
  background-color: #FFDE07;
  height: 5vh;
  width: 100vw;
}