
header {
  /* display: grid; */
  /* grid-column-gap: 1vw; */
  /* background-color: #FF5454; */
  display: inline-block;
  background-color: #FFDE07;
  height: 12vh;
  width: 100vw;
}

.logo-container {
  /* grid-column-start: 1;
  grid-column-end: 1; */
  display: inline-block;
}

.logo {
  display: block;
  height: 12vh;
  margin: 1vh 1vw;
}

.title-container {
  /* grid-column-start: 2;
  grid-column-end: 2; */
  display: inline-block;
  text-align: left;

}

.title {
  
}

/* .menu-container {
  grid-column-start: 3;
  grid-column-end: 3;
}

.menu {
  height: 5vh;
  width: 20%;
  margin: 11% auto;
  cursor: pointer;
}

.menu-bar-1, .menu-bar-2, .menu-bar-3 {
  height: 10%;
  width: 50%;
  background-color: #000;
  margin: 5% auto;
} */

.content {
  height: 100vh;
}





footer {
  /* background-color: #FF5454; */
  background-color: #FFDE07;
  height: 5vh;
  width: 100vw;
}