
.header {
  display: flex;
  flex-direction: row;
  /* background-color: #FF5454; */
  background-color: #FFDE07;
  height: 12vh;
  width: 100vw;
}

.logo-container {

}

.logo {
  height: 12vh;
  margin: 1vh 1vw;
}

.title-container {
  margin-left: 2vw;
  text-align: left;
}

.title {

}


.main-content {
  height: 100vh;
}

.events-container {
  width: 90%;
  height: auto;
  min-height: 50vh;
  border: 0.5px solid #e3e29d;
  margin: 5vh auto;
  border-radius: 10px;
}

.events-header {
  margin: 1vw 2vh;
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 1.5em;
  }

  .events-header {
    font-size: 1.5em;
  }

  .event-card {
    width: 100% !important;
  }

  .event-description {
    display: none;
  }

}

.event-cards-container {
  width: 95%;
  height: 90%;
  margin: 1vh auto 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-card {
  width: 25%;
  height: auto;
  border: 0.5px grey solid;
  border-radius: 10px;
  margin: 1vw 1vh;
  box-shadow: 1px 2px 3px 0px #0000006f;
}

.event-title {
  margin: 5% 5% 1% 5%;
}

.event-time-container {
  margin: 1% 5% 5% 5%;
}

.event-time {
  padding: 5%;
  font-size: 75%;
  color: #808080
}

.event-description {
  /* border-top: 0.5px lightgrey solid;
  border-bottom: 0.5px lightgrey solid; */
  text-indent: 1em;
  font-size: 75%;
  height: auto;
  padding: 5%;
}

.attendees-container {
  min-width: 50%;
  width: 90%;
  height: auto;
  margin: 0 auto 5% auto;
  border: 0.5px silver solid;
  border-radius: 10px;
}

.attendee-card {
  padding: 2% 0 2% 5%;
  margin: 1%;
  font-size: 75%;
}






footer {
  /* background-color: #FF5454; */
  background-color: #FFDE07;
  height: 5vh;
  width: 100vw;
}